{% extends "layout.html.twig" %}
{% block javascript %}
    <script src="templates/js/validarFormPacientes.js"></script>
{% endblock %}
{% block content %}
	        <div class="container">
            	<div class="row">
            	   	<div class="col-sm-5">
            	   		<form method= "POST" name="form_pacientes" action="./?action={% if paciente is defined %}actualizarPaciente&idPaciente={{ paciente[0]['id'] }}{% else %}CrearPaciente{% endif %}" onsubmit="{% if paciente is not defined %}return existe_Pac();{% endif %}">
            	   			<div class="container well">
            		   			<h1 class="text-center"><label>{{ titulo }}</label></h1><br>
            		   			<div class="form-group">
     	 							<label>Apellido(*):</label>
     								<input type="text" class="form-control" name="ApellidoP" id="ApellidoP" placeholder="Apellido del paciente" value="{% if paciente is defined %}{{ paciente[0]['apellido'] }}{% endif %}" required>
    							</div>
    							<div class="form-group">
      								<label>Nombre(*):</label>
     								<input type="text" class="form-control" name="NombreP" id="NombreP" placeholder="Nombre del paciente" value="{% if paciente is defined %}{{ paciente[0]['nombre'] }}{% endif %}" required>
    							</div>
    							<div class="form-group">
      								<label>Fecha de nacimiento(*):</label>
     								<input type="date" class="form-control" name="FecNacP" id="FecNacP" value="{% if paciente is defined %}{{ paciente[0]['fecha_nacimiento'] }}{% endif %}" required>
    							</div>
    							<div class="form-group">
	      							<label>Género(*):</label>
     									<select class="form-control" name="GeneroP" id="GeneroP">
        									<option {% if paciente is defined %}{% if paciente[0]['genero'] == 'Masculino' %}selected{%endif%}{% endif %}>Masculino</option>
        									<option {% if paciente is defined %}{% if paciente[0]['genero'] == 'Femenino' %}selected{%endif%}{% endif %}>Femenino</option>
        								</select>
    							</div>
    							<div class="form-group">
    	  							<label>Tipo de documento(*):</label>
	     							<select class="form-control" name="TipoDocP" id="TipoDocP">
                                                                    {% for documento in documentos %}
                                                                        <option {% if paciente is defined %}{% if paciente[0]['tipo_documento'] == documento.nombre %}selected{%endif%}{% endif %}>{{ documento.nombre }}</option>
                                                                    {% endfor %}
     								</select>
    							</div>
    							<div class="form-group">
      								<label>Numero de Documento(*):</label>
                                                                <input type="number" class="form-control" name="NroDocP" id="NroDocP" placeholder="Nro Documento del paciente" value="{% if paciente is defined %}{{ paciente[0]['numero_documento'] }}{% endif %}" required>
	    						</div>
    							<div class="form-group">
      								<label>Domicilio(*):</label>
     								<input type="text" class="form-control" name="DomicP" id="DomicP" placeholder="Domicilio del paciente" value="{% if paciente is defined %}{{ paciente[0]['domicilio'] }}{% endif %}" required>
    							</div>
    							<div class="form-group">
      								<label>Tel/Celular:</label>
    	 							<input type="number" class="form-control" name="TelefonoP" id="TelefonoP" placeholder="Telefono del paciente" value="{% if paciente is defined %}{% if paciente[0]['tel_cel'] != null %}{{ paciente[0]['tel_cel'] }}{%endif%}{% endif %}">
	    						</div>
    							<div class="form-group">
      								<label>Obra social:</label>
     								<select class="form-control" name="ObraSocP" id="ObraSocP">
                                                                    <option {% if paciente is defined %}{% if paciente[0]['obra_social'] == null %}selected{%endif%}{% endif %}>No posee</option>
                                                                    {% for obraS in obraSocial %}
     									<option {% if paciente is defined %}{% if paciente[0]['obra_social'] == obraS.nombre %}selected{%endif%}{% endif %}>{{ obraS.nombre }}</option>
                                                                    {% endfor %}    
     								</select>
    							</div>
    						</div>
                <div class="container well">
    							<h1 class="text-center"><label>Datos demograficos del paciente</label></h1><br>
    							<div class="radio">
    								<label>¿Tiene Heladera?(*)</label><br>
      								<label><input type="radio" name="heladera" value="1" {% if paciente is defined %}{% if paciente[0]['heladera'] %}checked{%endif%}{% endif %} required>Si</label>
      								<label><input type="radio" name="heladera" value="0" {% if paciente is defined %}{% if not paciente[0]['heladera'] %}checked{%endif%}{% endif %} required>No</label>
    							</div>
    							<div class="radio">
    								<label>¿Tiene electricidad? (*)</label><br>
      								<label><input type="radio" name="electricidad" value="1" {% if paciente is defined %}{% if paciente[0]['electricidad'] %}checked{%endif%}{% endif %} required>Si</label>
      								<label><input type="radio" name="electricidad" value="0" {% if paciente is defined %}{% if not paciente[0]['electricidad'] %}checked{%endif%}{% endif %} required>No</label><br>
    							</div>
    							<div class="radio">
                                                                <label>¿Tiene mascota(s)? (*)</label><br>
      								<label><input type="radio" name="mascota" value="1" {% if paciente is defined %}{% if paciente[0]['mascota'] %}checked{%endif%}{% endif %} required>Si</label>
      								<label><input type="radio" name="mascota" value="0" {% if paciente is defined %}{% if not paciente[0]['mascota'] %}checked{%endif%}{% endif %} required>No</label>
    							</div>
    							<div class="form-group">
	      							<label>Tipo de vivienda(*):</label>
     									<select class="form-control" name="viviendaP" id="viviendaP">
                                                                            {% for vivienda in tipoVivienda %}
        									<option {% if paciente is defined %}{% if paciente[0]['tipo_vivienda'] == vivienda.nombre %}selected{%endif%}{% endif %}>{{ vivienda.nombre }}</option>
                                                                            {% endfor %}
        								</select>
    							</div>
    							<div class="form-group">
	      							<label>Tipo de calefacción(*):</label>
     									<select class="form-control" name="calefaP" id="calefaP">
                                                                            {% for calefaccion in tipoCalefaccion %}
        									<option {% if paciente is defined %}{% if paciente[0]['tipo_calefaccion'] == calefaccion.nombre %}selected{%endif%}{% endif %}>{{ calefaccion.nombre }}</option>
                                                                            {% endfor %}
        								</select>
    							</div>
    							<div class="form-group">
	      							<label>Tipo de agua(*):</label>
     									<select class="form-control" name="tipoAguaP" id="tipoAguaP">
                                                                            {% for agua in tipoAgua %}
        									<option {% if paciente is defined %}{% if paciente[0]['tipo_agua'] == agua.nombre %}selected{%endif%}{% endif %}>{{ agua.nombre }}</option>
                                                                            {% endfor %}
        								</select>
    							</div>
    						</div>
    						<button type="submit" class="btn btn-primary" onclick="return validarFormPac();">{% if paciente is defined %}Actualizar paciente{% else %}Registrar paciente{% endif %}</button>
            	   		</form>
            	    </div>
				</div>
			</div>
{% endblock %}